<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>{{ngrok_svc}}</string>
		<key>ProgramArguments</key>
		<array>
			<string>{{ngrok_bin.stdout}}</string>
			<string>start</string>
			<string>--config</string>
			<string>{{ngrok_conf}}</string>
			<string>--all</string>
		</array>
		<key>StandardOutPath</key>
		<string>{{ngrok_log}}</string>
		<key>StandardErrorPath</key>
		<string>{{ngrok_log}}</string>
		<key>Debug</key>
		<true/>
		<key>EnvironmentVariables</key>
			<dict>
				<key>PATH</key>
				<string>/opt/local/bin:/opt/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin</string>
			</dict>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<true/>
		<key>UserName</key>
		<string>nobody</string>
		<key>GroupName</key>
		<string>nobody</string>
		<key>InitGroups</key>
		<true/>
	</dict>
</plist>
